I. Тема “Вычисления с помощью Numpy”

--------------------------------------------------------------------------------------

Задание 1

Импортируйте библиотеку Numpy и дайте ей псевдоним np.

Создайте массив Numpy под названием "a" размером 5x2, то есть состоящий из 5 строк и 2 столбцов.

Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7.

Будем считать, что каждый столбец - это признак, а строка - наблюдение. 

Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy.

Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

In [2]:
a = np.array([[1, 6],
              [2, 8],
             [3, 11],
             [3, 10],
             [1, 7]])

In [3]:
mean_a = a.mean(axis=0)
mean_a

array([2. , 8.4])

--------------------------------------------------------------------------------------

Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a.

Вычисление должно производиться в одно действие. 

Получившийся массив должен иметь размер 5x2.

In [4]:
a_centered = np.subtract(a, mean_a)
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

--------------------------------------------------------------------------------------

Задание 3

Найдите скалярное произведение столбцов массива a_centered. 

В результате должна получиться величина a_centered_sp. 

Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [5]:
a_centered_sp = np.dot(a_centered.T[0], a_centered.T[1])
a_centered_sp

8.0

In [6]:
a_centered_sp / (a.shape[0] - 1)

2.0

-----

Задание 4**

Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”.

В задании 3 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.

В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov.

В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”.

В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [7]:
np.cov(m=a.T)[0, 1]

2.0

----

II. Тема “Работа с данными в Pandas”

---

Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. 

Создайте датафрейм authors со столбцами author_id и author_name, 

в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  

[1, 1, 1, 2, 2, 3, 3],

['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],

[450, 300, 350, 500, 450, 370, 290].

In [8]:
import pandas as pd

In [9]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 
                       'author_name': ['Turgenev', 'Chekhov', 'Ostrovsky']},
                       columns=['author_id', 'author_name'])

In [10]:
books = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                     'book_title': ['Fathers and sons', 'Rudin', 'Gentlemens nest', 'Fat and thin', 'Lady with a dog', 'Storm', 'Talents and fans'],
                     'price': [450, 300, 350, 500, 450, 370, 290]})

In [11]:
authors, books

(   author_id author_name
 0          1    Turgenev
 1          2     Chekhov
 2          3   Ostrovsky,
    author_id        book_title  price
 0          1  Fathers and sons    450
 1          1             Rudin    300
 2          1   Gentlemens nest    350
 3          2      Fat and thin    500
 4          2   Lady with a dog    450
 5          3             Storm    370
 6          3  Talents and fans    290)

---

Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [12]:
authors_price = pd.merge(authors, books, on='author_id', how='outer')

In [13]:
authors_price

   author_id author_name        book_title  price
0          1    Turgenev  Fathers and sons    450
1          1    Turgenev             Rudin    300
2          1    Turgenev   Gentlemens nest    350
3          2     Chekhov      Fat and thin    500
4          2     Chekhov   Lady with a dog    450
5          3   Ostrovsky             Storm    370
6          3   Ostrovsky  Talents and fans    290

---

Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [14]:
top_5 = authors_price.sort_values(by='price', ascending=False).head(5)
top_5 = top_5.reset_index(drop=True)
top_5

   author_id author_name        book_title  price
0          2     Chekhov      Fat and thin    500
1          1    Turgenev  Fathers and sons    450
2          2     Chekhov   Lady with a dog    450
3          3   Ostrovsky             Storm    370
4          1    Turgenev   Gentlemens nest    350

---

Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price.

В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,

в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [15]:
max_price = authors_price.groupby('author_name').agg({'price': 'max'}).rename(columns={'price':'max_price'})

min_price = authors_price.groupby('author_name').agg({'price': 'min'}).rename(columns={'price':'min_price'})

mean_price = authors_price.groupby('author_name').agg({'price': 'mean'}).rename(columns={'price':'mean_price'})

authors_stat = pd.concat([min_price, max_price, mean_price], axis=1)

authors_stat

             min_price  max_price  mean_price
author_name
Chekhov            450        500  475.000000
Ostrovsky          290        370  330.000000
Turgenev           300        450  366.666667

---

Задание 5**

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:

['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd. с помощью вопросительного знака.

Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке.

Используйте для этого функцию pd.pivot_table.

При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. 

Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". 

Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [16]:
cover = pd.DataFrame({'cover':['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']}, columns=['cover'])
authors_price = pd.concat([authors_price, cover], axis = 1)
authors_price

   author_id author_name        book_title  price    cover
0          1    Turgenev  Fathers and sons    450  твердая
1          1    Turgenev             Rudin    300   мягкая
2          1    Turgenev   Gentlemens nest    350   мягкая
3          2     Chekhov      Fat and thin    500  твердая
4          2     Chekhov   Lady with a dog    450  твердая
5          3   Ostrovsky             Storm    370   мягкая
6          3   Ostrovsky  Talents and fans    290   мягкая

In [17]:
?pd.pivot_table

Signature:
pd.pivot_table(
    data,
    values=None,
    index=None,
    columns=None,
    aggfunc='mean',
    fill_value=None,
    margins=False,
    dropna=True,
    margins_name='All',
    observed=False,
) -> 'DataFrame'
Docstring:
Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects
(hierarchical indexes) on the index and columns of the result DataFrame.

Parameters
----------
data : DataFrame
values : column to aggregate, optional
index : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table index.  If an array is passed,
    it is being used as the same manner as column values.
columns : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table column.  If an array is passed,
    it is being used as the same manner as column values.
aggfunc : function, list of functions, dict, default numpy.mean
    If list of functions passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves)
    If dict is passed, the key is column to aggregate and value
    is function or list of functions.
fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).
margins : bool, default False
    Add all row / columns (e.g. for subtotal / grand totals).
dropna : bool, default True
    Do not include columns whose entries are all NaN.
margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. versionchanged:: 0.25.0

Returns
-------
DataFrame
    An Excel style pivot table.

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum)
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum, fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                     aggfunc={'D': np.mean,
...                              'E': np.mean})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                     aggfunc={'D': np.mean,
...                              'E': [min, max, np.mean]})
>>> table
                D    E
            mean  max      mean  min
A   C
bar large  5.500000  9.0  7.500000  6.0
    small  5.500000  9.0  8.500000  8.0
foo large  2.000000  5.0  4.500000  4.0
    small  2.333333  6.0  4.333333  2.0
File:      c:\users\essenced\anaconda3\lib\site-packages\pandas\core\reshape\pivot.py
Type:      function

In [18]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'], columns=['cover'], aggfunc=np.sum, fill_value=0)
book_info

cover        мягкая  твердая
author_name
Chekhov           0      950
Ostrovsky       660        0
Turgenev        650      450

In [19]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'],
columns=['cover'], aggfunc=np.sum, fill_value=0)
book_info

cover        мягкая  твердая
author_name
Chekhov           0      950
Ostrovsky       660        0
Turgenev        650      450

In [20]:
book_info.to_pickle('book_info.pkl')

In [21]:
book_info_2 = pd.read_pickle('book_info.pkl')

In [22]:
book_info == book_info_2

cover        мягкая  твердая
author_name
Chekhov        True     True
Ostrovsky      True     True
Turgenev       True     True